<div class="w-full shadow-lg shadow-gray-500/50 bg-gray-900">
    <div class="flex items-center">
        <div class="w-[30%] text-white ml-2 p-3">
            <h1 class="text-xl font-bold">Threads by Luna</h1>
        </div>
        <div class="w-[40%] h-10 bg-white p-0 my-4 flex items-center rounded-lg overflow-hidden">
            <select class="w-auto border-none outline-none h-full px-2 pr-5 font-semibold bg-gray-300" name="" id="">
                <option value="">Men</option>
                <option value="">Women</option>
                <option value="">Kids</option>
            </select>
            <input class="w-[90%] h-full inline-block border-none outline-none px-3" type="text" placeholder="Search.." />
            <button class="w-[10%] h-full border-none outline-none bg-gray-300 flex justify-center items-center">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
        <div class="w-[28%] gap-2 flex justify-end items-center mr-4 text-white">
            <div class="flex items-center gap-1">
                <fa-icon [icon]="faUserCircle" class="text-[1.3rem]"></fa-icon>
                <h5><a href="#" class="no-underline hover:underline">Sign in</a></h5>
                <span>/</span>
                <h5><a href="#" class="no-underline hover:underline">Register</a></h5>
            </div>
            <div class="flex text-[1.3rem] gap-2">
                <fa-icon [icon]="faHeart"></fa-icon>
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
        </div>
    </div>
</div>