<div class="mt-6 p-5 shadow-lg rounded-2xl bg-gray-50 border border-gray-200 h-full">
    <div class="pb-3 border-b">
        <h3 class="text-lg font-bold text-center text-gray-700 tracking-wide">Categories</h3>
    </div>
    <div class="mt-4 space-y-3">
        @for(category of getCategory(null); track category){
        <details class="group rounded-t-xl border border-gray-200 bg-white ">
            <summary class="summary">
                <span class="text-gray-700">{{ category.category }}</span>
                <fa-icon 
                [icon]="faAngleDown"
                class="transform transition-transform group-open:rotate-180 text-gray-400"
                ></fa-icon>
            </summary>
            <div class="px-5 py-4">
                <ul class="space-y-3">
                    @for (item of getCategory(category.id); track $index) {
                        <li class="list-none text-center">
                            <a 
                            href="#"
                            class="link-hover"
                            >{{item.category}}</a>
                        </li>
                    }
                </ul>
            </div>
        </details>
        }
    </div>
</div>