/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@tailwind utilities;

.summary {
    @apply cursor-pointer list-none px-5 py-3 bg-blue-100 font-semibold text-gray-600 hover:bg-blue-50 flex justify-between items-center transition rounded-t-xl;
}

.link-hover {
    @apply text-gray-700 font-medium relative inline-block after:block after:h-0.5 after:bg-blue-500 after:origin-left after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300;
}
